<!DOCTYPE html>

<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; maximum-scale=1; minimum-scale=1" />
    <title></title>
    <!--jquery-css-mobile-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="../css/jquery.tagit.css" />
    <link rel="stylesheet" href="../css/tagit.ui-zendesk.css" />

    <!--Main-css-->
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body >
    <p>Put Your Fridge And Start To Tag</p>

    <div ng-view>

    </div>

    <div id="Tag">
     <input name="tags" id="myTags" value="Apple, Orange">
      

    </div>
    <div id="photo">

        <!--all the Elements in from FOR send -ServerSide -->
        <fieldset class="ui-grid-solo">
            <div class="ui-block-a"><video id="video"  data-theme="a" autoplay></video></div>
        </fieldset>
        <fieldset class="ui-grid-solo">
            
            <div class="ui-block-b"><canvas id="canvas" data-theme="a" width="800" height="500"></canvas></div>
        </fieldset>
            <fieldset class="ui-grid-a">
                <div class="ui-block-a"><button id="snap" data-theme="a">Snap Photo</button></div>
                <div class="ui-block-a"><button id="snapAgain" data-theme="b">Snap-Again</button></div>
            </fieldset>


    </div>

    <script type="text/javascript" src="../javascript/lib/angular.min.js"></script>
    <script type="text/javascript" src="../javascript/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="../javascript/lib/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="../javascript/lib/tag-it.min.js"></script>
    <script type="text/javascript" src="../javascript/lib/jquery-ui.min.js"></script>
    <!--<script type="text/javascript" src="../javascript/app.js"></script>-->
    <script type="text/javascript" src="../javascript/appMobile.js"></script>
    <script type="text/javascript" src="../controllers/fridgeController.js"></script>
    <script type="text/javascript" src="../javascript/Photo.js"></script>
    
</body>
</html>