/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
body { font-family: Helvetica, san-serif; }
H1 { color: green; }
a:link { color:purple; }

/*Layout for tags*/
#tags
{
    position: absolute;
    width: 100%;
    height: 62%;
    top: 67px;
    right: 0%;

}
#StartApp
{
    background-image:url('../images/arrowdown.png');
    background-repeat:no-repeat;    
    width: 100px;
    height: 100px;
    position: absolute;
    margin: 100px;

}

#logo
{
    width:50px;
    height:50px;
    background-color:aqua;

}
#navbar
{
    border:1px solid black;
}
#AddFridge
{
    background-image:url('../images/fridge.jpg');
    background-repeat:no-repeat;
    width:200px;
    height:200px;
    margin: 5px;
}
#FridgeStudent
{
    background-image:url('../images/fridge2.jpg');
    background-repeat:no-repeat;
    width:200px;
    height:200px;
    margin: 5px;
}
#FridgeSingle
{
    background-image:url('../images/fridge1.jpg');
    background-repeat:no-repeat;
    width:200px;
    height:200px;
    margin: 5px;
}
/* Stack the two content containers */
.main,
.sidebar { display:block; width:100%; }

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
	.main { float: left; width:60%; }
	.sidebar { float: left; width:40%; }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
	.main { width:70%; }
	.sidebar { width:30%; }

	/* You can also tweak any other styles in a breakpoint */
	H1 { color: blue; font-size:1.2em }
}
